@import 'utils';

body,
html {
  background-color: #000;
  color: #fff;
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
}

.hide {
  display: none !important;
}

.now-playing {
  font-weight: 300;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  top: rem(22);
  transform: translateX(-50%);
}

button {
  background: none;
  border-radius: rem(4);
  border: rem(1) solid rgba(255, 255, 255, 0.4);
  color: #fff;
  cursor: pointer;
  font-weight: 200;
  opacity: 0.4;
  padding: rem(8) rem(12);
  position: absolute;
  top: rem(16);
  transition: opacity 1s;

  &:hover {
    opacity: 1;
  }

  &#fullscreen {
    right: rem(16);
  }

  &#logout {
    left: rem(16);
  }

  &#login {
    font-size: rem(32);
    left: 50%;
    opacity: 1;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: none;
  }
}

.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  .vis {
    align-items: flex-end;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;

    &:nth-of-type(2) {
      margin-top: rem(4);
      opacity: 0.3;

      .overlay {
        position: absolute;
        background: linear-gradient(transparent, black);
        height: 50%;
        width: 100%;
        z-index: 1;
      }

      > .node {
        flex-direction: column;
      }
    }

    > div.node {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      width: rem(20);

      div.cell {
        background-color: #3ae43a;
        backface-visibility: hidden;
        border-radius: rem(1.5);
        box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.7);
        display: block;
        height: calc(80vh / 30);
        margin-bottom: rem(4);
        opacity: 1;
        perspective: 1000;
        transform: translateZ(0);
        transition: opacity 200ms;
        width: rem(12);

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;

        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;

        &:nth-of-type(n + 6) {
          background-color: yellow;
        }

        &:nth-of-type(n + 9) {
          background-color: red;
        }

        &.hidden {
          opacity: 0;
          transition: opacity 1s;
        }
      }
    }
  }
}
