@import 'utils';

body, html {
  background-color: #000;
  color: #FFF;
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
}

.hide {
  display: none !important;
}

.now-playing {
  font-weight: 300;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  top: rem(22);
  transform: translateX(-50%);
}

button {
  background: none;
  border-radius: rem(4);
  border: rem(1) solid rgba(255, 255, 255, 0.4);
  color: #FFF;
  cursor: pointer;
  font-weight: 200;
  opacity: 0.4;
  padding: rem(8) rem(12);
  position: absolute;
  top: rem(16);
  transition: opacity 1s;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  &#fullscreen {
    right: rem(16);
  }

  &#logout {
    left: rem(16);
  }

  &#login {
    font-size: rem(32);
    left: 50%;
    opacity: 1;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: none;
  }
}

.container {
  position: relative;
  padding: 0 32px;
  height: 100vh;
  display: flex;
  justify-content: center;

  .node {
    align-self: center;
    background: red;
    border-radius: rem(3);
    height: rem(25);
    width: rem(6);
    margin: 0 rem(12);
  }
}
